<form method="post" action="/bookmarks">
  <label for='title'>Title</label>
  <input name='title' type="text">
  <label for='url'>url</label>
  <input name='url' type="text">
  <input type="submit" value="Submit" >
</form>
