<h1>BookmarksList</h1>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%=bookmark.url %>">
        <%= bookmark.title %>
      </a>
      </li>
  <% end %>
</ul>
<form action='/bookmarks/add' method='get'>
<input type='submit' name='Add bookmark' value='Add bookmark'>
</form>
