<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Bookmark Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./views/index">
  </head>
  <body>
    <h1>Welcome to Bookmark Manager</h1>

    <label for="bookmarks">Which bookmarks would you like to view?:</label>

    <form action="/bookmarks" method="post">
    <select name="bookmarks" id="bookmarks">
      <option value="All">All</option>
    </select>
    <br><br>
      <input type="submit" value="Submit">
    </form>



  </body>
</html>